<header class="container-fluid center-window">
	<img src="/assets/title.png" id="title" alt="LoL">
	<div class="row">
		<div class="switch-container">
			<div class="switch">
				<div class="top">
					<img src="/assets/icon-logo-bg.png" alt="LoL">
				</div>
				<div class="bottom">
					<img src="/assets/icon-yasuo.png" alt="Yasuo">
				</div>
			</div>
		</div>

		<div class="switch-container">
			<div class="switch">
				<div class="top">
					<img src="/assets/icon-logo-bg.png" alt="LoL">
				</div>
				<div class="bottom">
					<img src="/assets/icon-zed.png" alt="Yasuo">
				</div>
			</div>
		</div>

		<div class="switch-container">
			<div class="switch">
				<div class="top">
					<img src="/assets/icon-logo-bg.png" alt="LoL">
				</div>
				<div class="bottom">
					<img src="/assets/icon-pantheon.png" alt="Yasuo">
				</div>
			</div>
		</div>

		<div class="switch-container">
			<div class="switch">
				<div class="top">
					<img src="/assets/icon-logo-bg.png" alt="LoL">
				</div>
				<div class="bottom">
					<img src="/assets/icon-fate.png" alt="Yasuo">
				</div>
			</div>
		</div>

		<div class="switch-container">
			<div class="switch">
				<div class="top">
					<img src="/assets/icon-logo-bg.png" alt="LoL">
				</div>
				<div class="bottom">
					<img src="/assets/icon-kalista.png" alt="Yasuo">
				</div>
			</div>
		</div>

		<!-- <div class="switch-box">
			<img src="/assets/icon-logo-bg.png" class="top" alt="LoL">
			<a href="https://na.leagueoflegends.com/en/game-info/champions/yasuo/" target="_blank">
				<img src="/assets/icon-yasuo.png" class="bottom" alt="Yasuo">
			</a>
		</div>

		<div class="switch-box">
			<img src="/assets/icon-logo-bg.png" class="top" alt="LoL">
			<a href="https://na.leagueoflegends.com/en/game-info/champions/zed/" target="_blank">
				<img src="/assets/icon-zed.png" class="bottom" alt="Yasuo">
			</a>
		</div>

		<div class="switch-box">
			<img src="/assets/icon-logo-bg.png" class="top" alt="LoL">
			<a href="https://na.leagueoflegends.com/en/game-info/champions/pantheon/" target="_blank">
				<img src="/assets/icon-pantheon.png" class="bottom" alt="Yasuo">
			</a>
		</div>

		<div class="switch-box">
			<img src="/assets/icon-logo-bg.png" class="top" alt="LoL">
			<a href="https://na.leagueoflegends.com/en/game-info/champions/TwistedFate/" target="_blank">
				<img src="/assets/icon-fate.png" class="bottom" alt="Yasuo">
			</a>
		</div>

		<div class="switch-box">
			<img src="/assets/icon-logo-bg.png" class="top" alt="LoL">
			<a href="https://na.leagueoflegends.com/en/game-info/champions/kalista/" target="_blank">
				<img src="/assets/icon-kalista.png" class="bottom" alt="Yasuo">
			</a>
		</div> -->
	</div>
</header>

<section class="container-fluid">
	<ul class="roster">
		<li class="character-window">
			<img src="https://am-a.akamaihd.net/image?f=https%3A%2F%2Fddragon.leagueoflegends.com%2Fcdn%2Fimg%2Fchampion%2Fsplash%2FAzir_0.jpg&resize=:475">
			<div class="nameplate">
				<h1>Azir</h1>
				<h2>Shurima</h2>
			</div>
			<div class="cta">Explore</div>
		</li>
		<li class="character-window">
			<img src="https://am-a.akamaihd.net/image?f=https%3A%2F%2Fddragon.leagueoflegends.com%2Fcdn%2Fimg%2Fchampion%2Fsplash%2FGraves_0.jpg&resize=:475">
			<div class="nameplate">
				<h1>Graves</h1>
				<h2>Bilgewater</h2>
			</div>
			<div class="cta">Explore</div>
		</li>
		<li class="character-window">
			<img src="https://am-a.akamaihd.net/image?f=https%3A%2F%2Fddragon.leagueoflegends.com%2Fcdn%2Fimg%2Fchampion%2Fsplash%2FJarvanIV_0.jpg&resize=:475">
			<div class="nameplate">
				<h1>Jarven IV</h1>
				<h2>Demacia</h2>
			</div>
			<div class="cta">Explore</div>
		</li>
		<li class="character-window">
			<img src="https://am-a.akamaihd.net/image?f=https%3A%2F%2Fddragon.leagueoflegends.com%2Fcdn%2Fimg%2Fchampion%2Fsplash%2FShyvana_0.jpg&resize=:475">
			<div class="nameplate">
				<h1>Shyvana</h1>
				<h2>Demacia</h2>
			</div>
			<div class="cta">Explore</div>
		</li>
		<li class="character-window">
			<img src="https://am-a.akamaihd.net/image?f=https%3A%2F%2Fddragon.leagueoflegends.com%2Fcdn%2Fimg%2Fchampion%2Fsplash%2FTwistedFate_0.jpg&resize=:475">
			<div class="nameplate">
				<h1>Twisted Fate</h1>
				<h2>Bilgewater</h2>
			</div>
			<div class="cta">Explore</div>
		</li>
	</ul>
</section>
